<%= form_for(@organisation) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Organisation name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :aka, "Also Known As" %>
    <%= f.text_field :aka, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :acronym, "Acroynm" %>
    <%= f.text_field :acronym, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :former_name, "Former name" %>
    <%= f.text_field :former_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :accreditation, "Accreditation" %>
    <%= f.text_field :accreditation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :logo, class: "control-label" %>
    <div class="controls">
      <%= f.file_field :logo, class: "form-control" %>
    </div>
    <%= error_span(@organisation[:logo]) %>
  </div>

  <div class="form-group">
    <%= f.label :dataset, "Dataset" %>
    <%= f.collection_select :dataset_id, Dataset.all, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create & Continue", class: "btn btn-primary" %>
  </div>
<% end %>
